{% extends 'base.html' %}
{% block title %}Course List{% endblock %}

{% block body %}
    <h1>My courses</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url 'courses:update-course' pk=course.id %}">Edit</a>
                    <a href="{% url 'courses:delete-course' pk=course.id %}">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>You have not created any course yet</p>
        {% endfor %}
        <p>
            <a href="{% url 'courses:create-course' %}">Create new course</a>
        </p>
    </div>
{% endblock %}