{% extends 'base.html' %}
{% block title %}
    Sign up
{% endblock %}
{% block body %}
    <h1>Sign up</h1>
    <div class="module">
        <p>Enter your details to create view</p>
        <form action="" method="post">
            {% csrf_token %}
            <p>{{ form.username.label_tag }} {{ form.username }}</p>
            <p>{{ form.email.label_tag }} {{ form.email }}</p>
            <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
            <small>{{ form.password1.help_text }}</small>
            <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
            <p><input type="submit" value="Create account"></p>
        </form>
    </div>
{% endblock %}